@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* width: 60%; */
    max-width: 1320px;
}

p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.important {
    color: #F00;
}

.primary-para-red {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.primary-head-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

/*-----------Banner Section Design------------*/
.banner {
    margin: 0 auto;
}

.banner.banner-content * {
    text-align: center;

}

.banner-img {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/banner.png");
    width: 100%;
    max-width: 1320px;
    border-radius: 16px;
    margin: 0 auto;

}

.banner-content {
    padding: 177px;
    margin-top: 50px;
}

.banner-content p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.banner-content h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    max-width: 632px;
    text-align: center;
    margin: 0 auto;
}


/* ----------Here are hot deal section design start---------- */
/* .hot-deal-container {
    display: flex;
    flex-direction: column;
} */
.hot-deal-sec {
    margin-block: 120px;
    margin-inline: auto;
}

.hot-deal-sec .hot-deal-content .hot-news {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    margin-bottom: 48px;
}

.hot-deal-sec .hot-deal-content h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.hot-deal-sec .hot-deal-content p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.hot-deal-sec .hot-deal-content * {
    text-align: center;
}

.hot-deal-sec .hot-deal-img {
    text-align: center;
}

/* ----------Here are welcome party section design start---------- */
.wel-party-container {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    /* flex-shrink: 1; */
}

.background-img {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/vector.png");
    width: 100%;
    max-width: 1320px;
    padding: 67px 138px 68px 126px;
    border-radius: 16px;
}

.wel-party-container .wel-party-content .wel-party-title {
    color: #FFF;
    max-width: 642px;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    /* letter-spacing: 7.04px; */
    padding-top: 50px;
}

.wel-party-container .wel-party-content .wel-party-desc {
    margin-block: 24px 48px;
    max-width: 695px;
    color: rgba(255, 255, 255, 0.80);
}

.wel-party-container .wel-party-content a {
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    margin-left: 32px;
}


/*----------Place Date Time Section Design Start----------*/

.place-time-sec {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 0 110px 0;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    margin-block: 120px;
}

.place-time-sec * {
    text-align: center;
}

.place-time-sec .place-time-title {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place-time-sec .primary-btn-join {
    margin-top: 48px;
}

.place-time-sec .primary-btn-join .primary-btn {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    outline: 0;
}

.place-time-sec .primary-btn-join .primary-btn a {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* ----------Here Are Coming Soon Section design Start---------- */
.coming-soon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.coming-soon-content-two .coming-soon-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
}

.coming-soon-img {
    padding: 25px;
    border: 10px solid #F00;
    border-radius: 50%;
}

.coming-soon-content-two img {
    margin-top: 43px;
}

/*-----------Holiday Sale Section design----------*/
.holiday-sale-container {
    margin: 0 auto;
}

.holiday-sale-container .holy-discount-banner{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.holiday-sale-container .holy-discount-banner{
    margin-top: 64px;
    margin-bottom: 120px;
}

.holiday-sale-container .holy-background{
    background-image: url("../images/Rectangle\ 1.png"),url("../images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: top right, bottom;
}

.holiday-sale-container h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-sale-container h3 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-block: 16px 28px;
}

.holiday-sale-container .holiday-description{
    max-width: 1068px;
    margin-inline: auto;
}

.holiday-sale-container *{
    text-align: center;
}

.holiday-sale-container .fifty-discount-img{
    position: relative;
    bottom: 86px;
    right: 90px;
    
}


/*----------Image Gallery Section Start----------*/

.gallery-container {
    margin: 0 auto;
}

.gallery-container .gallery-img-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.gallery-container .gallery-img-container img:hover {
    box-shadow: 10px 10px 15px #333;
    border-radius: 15px;
}

.gallery-description {
    max-width: 896px;
    margin-bottom: 48px;
}




/*----------Contact Form Section Start--------------*/

.contact-container {
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px;
    margin-top: 120px;
}

.contact-container .subscribe-btn {
    padding: 24px 56px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    outline: 0;
}

.contact-container .subscribe-btn a {
    text-decoration: none;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.contact-container * {
    text-align: center;
}

.contact-container .contact-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-block: 40px 22px;
}

.contact-container .contact-container-content {
    margin-bottom: 48px;
}

.contact-container form {
    display: flex;
    max-width: 648px;
    margin-inline: auto;
}

.contact-container form input {
    flex-grow: 1;
    padding: 0px;
    outline: 0;
    border: 0;
    font-size: 18px;
    font-family: Inter;
    text-align: left;
    padding-left: 10px;
}

/*---------Here is the footer design start----------*/
/* hr{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
} */
footer {
    background-color: #070211;
    padding: 120px 140px;
    padding-block: 50px 48px;
    margin-top: 120px;

}

footer .foot-container {
    display: flex;
    justify-content: space-between;
}

footer .foot-container-two {
    display: flex;
    justify-content: space-between;
}

.foot-container .address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.foot-container .contact {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.foot-container .contact ul {
    list-style-type: none;
}

.line {
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    margin: 50px 0 48px 0;
}

footer .social-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    cursor: pointer;
}

footer .foot-container-two p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

/*------------The End-------------*/